__pycache__/
.vscode/
old/

settings.json

# ignore (almost) all files in scripts (user-created scripts that utilize knit3D & custom knitout file in `src`)
scripts/*
# except the following: (files that import libraries)
!/scripts/lib.py
!/scripts/__init__.py

# and any demo/example/debug files:
!/scripts/*-demo.py
!/scripts/*-example.py
!/scripts/*-debug.py
# !/scripts/stitch-tube.py


# ignore all user-created graphics, but...
graphics/*
!/graphics/stitch-patterns/
# graphics/stitch-patterns/*

# (keep demo/example/debug graphics)
!/graphics/*-demo.png
!/graphics/*-example.png
!/graphics/*-debug.png

graphics/stitch-patterns/*
!/graphics/stitch-patterns/*-demo.png
!/graphics/stitch-patterns/*-example.png
!/graphics/stitch-patterns/*-debug.png

# Distribution / packaging
build/
dist/
*.egg-info/